# timeout in milliseconds for the http requests (optional, defaults to 5000)
#timeout=

# the interval in milliseconds when to find new refresh candidates
# (optional, defaults to 1000)
#granularity=

# whether to substitute the current time or state value into the URL
# (optional, defaults to true)
#format=

# configuration of the first cache item
humboldSubstitute1.url=https://intranet.zd.schulen.konstanz.de/gpuntis/h/schueler/subst_001.htm{Authorization=Basic dHJlc2NuaS1oOk5pLWtlIDE5MTg=}
humboldSubstitute1.updateInterval=100000

# configuration of the second cache item  
humboldSubstitute2.url=https://intranet.zd.schulen.konstanz.de/gpuntis/h/schueler/subst_002.htm{Authorization=Basic dHJlc2NuaS1oOk5pLWtlIDE5MTg=}
humboldSubstitute2.updateInterval=100000
